#chatgeppetto-widget {
  position: fixed;
  top: 50%;
  right: -450px;
  transform: translateY(-50%);
  width: 450px;
  z-index: 99999;
  transition: right 0s;
  height: 100%;
}

#chatgeppetto-widget.visible {
  right: 0;
}

#chatgeppetto-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  border-radius: 10px;
  background-color: #333333;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  color: #f8f8f8;
}

#chatgeppetto-title {
  padding: 10px;
  font-weight: bold;
  background-color: #252525;
  display: none;
  color: #ffffff;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

#chatgeppetto-messages {
  flex: 1;
  display: flex;
  height: calc(100% - 30px);
  background-color: #434343;
  overflow-y: scroll;
  padding: 10px;
  margin: auto;
  width: 95%;
  flex-direction: column;
  justify-content: top;
}

.chatgeppetto-message-container {
  margin-bottom: 10px;
  align-self: flex-start;
}

.chatgeppetto-message-header {
  font-size: 18px;
  color: #838383;
  font-weight: bold;
}

.chatgeppetto-message-body {
  margin-top: 5px;
}

#chatgeppetto-input-container {
  display: flex;
  align-items: center;
  background-color: #434343;
  padding: 10px;
  position: relative;
  bottom: 0;
  width: 43opx;
  height: 30px;
}

#chatgeppetto-input {
  flex: 1;
  padding: 5px;
  border-radius: 5px;
  margin-right: 5px;
  width: 90%;
  background-color: #636363;
  border: 3px solid #535353;
  border-radius: 5px;
  color: #dfdfdf;
}

#chatgeppetto-send {
  font-family: "Open Sans", sans-serif;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  background-color: #284269;
  color: #ffffff;
  cursor: pointer;
  visibility: hidden;
  display: none;
}

#chatgeppetto-toggle {
  font-family: "Open Sans", sans-serif;
  position: fixed;
  bottom: 10px;
  right: 20px;
  z-index: 9999;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  background-color: #2d2926;
  box-shadow: 0px 0px 0px #284269;
  color: white;
  font-weight: lighter;
  font-size: 11px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  opacity: 0.95;
  transition: background-color 0.3s ease-in-out;
  visibility: hidden;
}

#chatgeppetto-toggle:hover {
  transform: scale(1.2);
  transition: transform 0.3s ease-in-out;
}

#chatgeppetto-toggle i {
  font-size: 30px;
  line-height: 60px;
}

#loading {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 9999;
}

.spinner {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 5px solid #ccc;
  border-top-color: #666;
  animation: spin 1s infinite linear;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
}

.message {
  position: absolute;
  top: 60%;
  right: 50%;
  transform: translateX(-50%);
  font-size: 16px;
  color: #666;
}

#suggestionBox {
  position: absolute;
  display: none;
  border: 1px solid #ccc;
  background-color: #fff;
  border-radius: 5px;
  width: 94%;
  color: #333;
  max-height: 100px;
  overflow-y: auto;
  bottom: 40px;
}

.suggestionItem {
  padding: 5px;
  cursor: pointer;
}

.suggestionItem:hover {
  background-color: #f2f2f2;
}

.suggestionItem.selected {
  background-color: #acacac;
  color: white;
}

#chatgeppetto-widget.fullscreen {
  width: 100%;
  right: 0;
  border-radius: 0;
  height: 100%;
  top: 50%;
}

#chatgeppetto-messages.fullscreen {
  width: 45%;
}

.chatgeppetto-message-container.dimmed {
  opacity: 0.3;
}

.chatgeppetto-message-container.userbubble {
  align-self: flex-end;
  background-color: #555055;
  border-radius: 25px 25px 0 25px;
  border: 1px solid #353035;
  padding: 10px;
}

.chatgeppetto-message-container.geppettobubble {
  align-self: flex-start;
  background-color: #505555;
  border-radius: 25px 25px 25px 0;
  border: 1px solid #303535;
  padding: 10px;
}

#chatgeppetto-message.fullscreen {
  width: 45%;
  margin: 0 auto;
}

#chatgeppetto-message.container.fullscreen {
  width: 45%;
  margin: 0 auto;
}
#chatgeppetto-input-container.fullscreen {
  width: 45%;
  margin: 0 auto;
}

#conversation-switcher {
  position: fixed;
  position: fixed;
  left: 0px;
  transition: left 0.3s ease-in-out;
  top: 0;
  width: 250px;
  height: 100%;
  padding: 10px;
  background-color: #202020;
  overflow-y: auto;
  display: none; /* Hidden by default */
}

.hidden {
  left: -250px;
  display: block;
}

#conversation-switcher h2 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

#conversation-switcher.fullscreen {
  display: block;
}

.conversationItem {
  padding: 5px;
  cursor: pointer;
  color: #dfdfdf;
  font-size: 14px;
  font-weight: bold;
}
