@font-face {
  font-family: "Monolisa Nerd Font";
  src: url("https://chef.thele.me/MonoLisa%20Regular%20Nerd%20Font%20Complete.ttf") format("ttf");
  /* Ajoutez d'autres formats de police si nécessaire (e.g., woff, ttf) */
}

body.chatgeppetto-open {
  margin-right: 450px;
}

p {
  all: revert;
}

#chatgeppetto-widget {
  all: revert;
  position: fixed;
  top: 0px;
  right: 0px;
  width: 25%;
  z-index: 99999;
  transition: right 0s;
  height: 100%;
  display: none;
  margin-left: auto;
  display: none;
}

#chatgeppetto-widget.chatgeppetto-visible {
  right: 0;
  display: block;
}

#chatgeppetto-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #282828;
  font-family: "Monolisa Nerd Font", sans-serif !important;
  font-size: 14px;
  color: #f2e5bc;
}

#chatgeppetto-title {
  padding: 10px;
  font-weight: bold;
  background-color: #1d2021;
  display: none;
  color: #f2e5bc;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

#chatgeppetto-messages {
  flex: 1;
  display: flex;
  height: calc(100% - 30px);
  background-color: #32302f;
  overflow-y: scroll;
  padding: 10px;
  margin: auto;
  width: 95%;
  flex-direction: column;
  justify-content: top;
}

.chatgeppetto-message-container {
  margin-bottom: 10px;
  align-self: flex-start;
}

.chatgeppetto-message-header {
  position: relative;
  font-size: 18px;
  color: #d5c4a1;
  font-weight: bold;
}

.chatgeppetto-message-body {
  margin-top: 5px;
  color: #f2e5bc !important;
}

#chatgeppetto-input-container {
  display: flex;
  align-items: center;
  background-color: #32302f;
  padding: 10px;
  position: relative;
  bottom: 0;
  width: 95%;
  height: 30px;
}

#chatgeppetto-input {
  flex: 1;
  padding: 5px;
  border-radius: 5px;
  margin-right: 5px;
  width: 90%;
  background-color: #504945;
  border: 3px solid #282828;
  border-radius: 5px;
  color: #f2e5bc;
}

#chatgeppetto-send {
  font-family: "Monolisa Nerd Font", sans-serif !important;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  background-color: #284269;
  color: #ffffff;
  cursor: pointer;
  visibility: chatgeppetto-hidden;
  display: none;
}

.chatgeppetto-cont {
  cursor: pointer;
  position: relative;
  bottom: 0px;
  right: 0px;
  color: #f2e5bc;
  border: none;
  padding: 0px 0px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 18px;
  font-weight: bold;
  background-color: rgba(76, 175, 80, 0);
  margin-top: 8px;
}

.chatgeppetto-cont.chatgeppetto-hidden {
  visibility: hidden;
  display: none;
}

.chatgeppetto-abort {
  cursor: pointer;
  position: absolute;
  top: -10px;
  right: 0;
  color: #f2e5bc;
  border: none;
  padding: 0px 0px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 18px;
  font-weight: bold;
  font-family: "Monolisa Nerd Font", monospace !important;
  background-color: rgba(76, 175, 80, 0);
  margin-top: 8px;
}

.chatgeppetto-copy {
  cursor: pointer;
  position: absolute;
  top: -10px;
  right: 0;
  color: #f2e5bc;
  border: none;
  padding: 0px 0px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 18px;
  font-weight: bold;
  font-family: "Monolisa Nerd Font", monospace !important;
  background-color: rgba(76, 175, 80, 0);
  margin-top: 8px;
}

#chatgeppetto-toggle {
  font-family: "Monolisa Nerd Font", sans-serif !important;
  position: fixed;
  bottom: 10px;
  right: 20px;
  z-index: 9999;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  background-color: #2d2926;
  box-shadow: 0px 0px 0px #284269;
  color: white;
  font-weight: lighter;
  font-size: 11px;
  display: none;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  opacity: 0.95;
  transition: background-color 0.3s ease-in-out;
  visibility: chatgeppetto-hidden;
}

#chatgeppetto-toggle:hover {
  transform: scale(1.2);
  transition: transform 0.3s ease-in-out;
}

#chatgeppetto-toggle i {
  font-size: 30px;
  line-height: 60px;
}

#chatgeppetto-loading {
  display: none;
}

#chatgeppetto-suggestionBox {
  position: absolute;
  display: none;
  border: 1px solid #1d2021;
  background-color: #504945;
  border-radius: 5px;
  width: 94%;
  color: #f2e5bc;
  max-height: 100px;
  overflow-y: auto;
  bottom: 40px;
}

.chatgeppetto-suggestionItem {
  padding: 5px;
  cursor: pointer;
}

.chatgeppetto-suggestionItem:hover {
  background-color: #504945;
}

.chatgeppetto-suggestionItem.selected {
  background-color: #3c3836;
  color: #f2e5bc;
}

#chatgeppetto-widget.fullscreen {
  width: 100%;
  right: 0;
  border-radius: 0;
  height: 100%;
  top: 0px;
}

#chatgeppetto-messages.fullscreen {
  width: 45%;
}

.chatgeppetto-message-container.dimmed {
  opacity: 0.3;
}

.chatgeppetto-message-container.userbubble {
  align-self: flex-end;
  background-color: #504945;
  border-radius: 25px 25px 0 25px;
  border: 3px solid #af3a03;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  padding: 10px;
}

.chatgeppetto-message-container.geppettobubble {
  align-self: flex-start;
  background-color: #504945;
  border-radius: 25px 25px 25px 0;
  border: 3px solid #79740e;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  padding: 10px;
}

#chatgeppetto-message.fullscreen {
  width: 45%;
  margin: 0 auto;
}

#chatgeppetto-message.container.fullscreen {
  width: 45%;
  margin: 0 auto;
}

#chatgeppetto-input-container.fullscreen {
  width: 45%;
  margin: 0 auto;
}

#chatgeppetto-converstationSwitcher {
  position: fixed;
  position: fixed;
  left: 0px;
  transition: left 0.3s ease-in-out;
  top: 0;
  width: 250px;
  height: 100%;
  padding: 10px;
  background-color: #1d2021;
  overflow-y: auto;
  display: none;
  /* chatgeppetto-hidden by default */
}

.chatgeppetto-hidden {
  left: -250px;
  display: block;
}

#chatgeppetto-converstationSwitcher h2 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

#chatgeppetto-converstationSwitcher.fullscreen {
  display: block;
}

.chatgeppetto-conversationItem {
  padding: 5px;
  cursor: pointer;
  color: #f2e5bc;
  font-size: 14px;
  font-weight: bold;
}
